
ion-content{
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("../../../assets/img/fondo.png") no-repeat center center / cover;
}


.login-section{
  height: 74vh;
  width: 100%;
  max-width: 500px;
  background: #fff;
  right: 0;
  left: 0;
  bottom: 0;
  position:fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;

  heading{
    margin-top: 20px;
    h1{
      font-size: 1.6rem;
      font-weight: bolder;

    }
    p{
      margin-top: 20px;
      font-size: 1rem;
      color:#7b7b7b;

    }
  }
  .login-form{
        .form-input{
          --border-color:#5CCB5F;
          position:relative;
          margin-bottom: 10px;
          ion-item::part(native){
            padding-left:0;
          }
          ion-icon{
            position: absolute;
            top: 37px;
            z-index: 2;
            font-size: 1.2rem;
            left: 5px;
          }

          .label{
            position: absolute;
            margin-left: 35px;
            font-weight: bolder;
            font-size: 0.8rem;
            top: 3px;

          }

          ion-input{
            font-size: 0.9rem;
            --padding-start:36px;
            --padding-top: 36px;
            color: #7b7b7b7b;

          }
     }
  }
  .action-buttons{
    text-align: center;
    .login-button{
      --background:#007A36;
      width: 100%;
      font-weight: bold;
      height: 50px;
      margin-bottom: 20px;
      margin-top: 10px;

    }
    a{
      margin-top:15px;
      font-size:1rem;
      color: #7b7b7b7b;
      margin:auto;
    }

  }

}






























































/*.img-car{

  text-align: center;
  height: 200px;
  background: #5CCB5F center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius:40px ;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  img{
    margin-top: 50px;
    height: 100px;
    width: 200px;
    right: 60px;
  }


}

.login-section{
  text-align: center;
  height: 74 vh;
  width: 100%;
  max-width: 500px;
  background: #ffff;
  right: 0%;
  left: 0;
  bottom: 0;
  margin: auto;
  position: fixed;



  heading{
    h1{
      margin-top: 50px;
      font-size: 1.6rem;
      font-weight:bolder;
    }

    p{
      margin-top: 20px;
      font-size: 1rem;
      color: #CCCCCC;
    }
  }

  .login-from{
    .form-input{
      position: relative;
      margin-bottom: 10px;
       ion-item::part(native){
         padding-left: 0;
       }
       ion-icon{
         position: absolute;
         top: 37px;
         z-index: 3;
         font-size: 1.2rem;
         left: 5px;
       }

       ion-label{
         position: absolute;
         margin-left: 35px;
         font-weight: bolder;
         font-size: 0.8rem;
         top: 3px;

       }
       ion-input{
         font-size: 0.9rem;
         --padding-start: 36px;
         --padding-top:36px;
         color:#CCCCCC;
       }
    }
    .lb1{

    }
  }

}


/*
h1{
  text-align: center;
  margin: 10px;
}

ion-item{
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  height: 60px;

}

.a1 {
  margin-left: 170px;
  margin-top: 10px;

}

.or{
  margin-left: 150px;
}
.b1{
  padding: auto;
  margin-top: 10px;
  margin-left: 75px;
  height: 40px;
  width: 150px;
}

.b2{
  margin-top: 10px;
  margin-left: 75px;
  height: 40px;
  width: 160px;
}


img-car{
  margin-left: 10px;
}

*/


